@{
    ViewData["Title"] = "Home";
    Layout = "_DashboardLayout";
}

<div class="content-header">
    <h2 class="content-header h2">Welcome to TKOH!</h2>
</div>

<p>Your dashboard provides a central view of all management and assignment tasks.</p>

@section Scripts {

}
